{% extends "base.html" %}
{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="card" style="max-width:600px;">

  <div style="display:flex; justify-content:space-between;">
    <h2>Edit Product</h2>
    <a href="{% url 'product_list' %}" class="btn secondary">← Back</a>
  </div>

  <form method="post">
    {% csrf_token %}

    <p>
      <label>Name</label><br>
      <input type="text" name="name" value="{{ product.name }}" required>
    </p>

    <p>
      <label>Price</label><br>
      <input type="number" step="0.01" name="price" value="{{ product.price }}" required>
    </p>

    <p>
      <label>Stock</label><br>
      <input type="number" name="stock" value="{{ product.stock }}" required>
    </p>

    <button type="submit" class="btn">Update</button>
    <a href="{% url 'product_list' %}" class="btn secondary">Cancel</a>
  </form>

</div>
{% endblock %}
