{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="card" style="max-width:600px;">

  <div style="display:flex; justify-content:space-between; align-items:center;">
    <h2>Edit Product</h2>
    <a href="{% url 'product_list' %}" class="btn secondary">
      ← Back
    </a>
  </div>

  <form method="post" style="margin-top:20px;">
    {% csrf_token %}

    <div style="margin-bottom:12px;">
      <label>Name</label><br>
      <input type="text" name="name" value="{{ product.name }}" required>
    </div>

    <div style="margin-bottom:12px;">
      <label>Price</label><br>
      <input type="number" step="0.01" name="price" value="{{ product.price }}" required>
    </div>

    <div style="margin-bottom:12px;">
      <label>Stock</label><br>
      <input type="number" name="stock" value="{{ product.stock }}" required>
    </div>

    <button type="submit" class="btn">Update</button>
    <a href="{% url 'product_list' %}" class="btn secondary">Cancel</a>

  </form>

</div>
{% endblock %}
 