{% extends "base.html" %}
{% block title %}Add Customer{% endblock %}

{% block content %}
<div class="card" style="max-width:500px;margin:auto">
  <h2>Add Customer</h2>

  <form method="post">
    {% csrf_token %}

    <label>Name</label><br>
    <input name="name" required style="width:100%;padding:10px"><br><br>

    <label>Email</label><br>
    <input name="email" style="width:100%;padding:10px"><br><br>

    <label>Phone</label><br>
    <input name="phone" style="width:100%;padding:10px"><br><br>

    <label>Address</label><br>
    <textarea name="address" rows="3" style="width:100%;padding:10px"></textarea><br><br>

    <button class="btn" type="submit">Save</button>
  </form>
</div>
{% endblock %}
