{% extends "base.html" %}

{% block content %}
<h2>Purchases</h2>

<a href="{% url 'purchases:purchase_add' %}">➕ Add Purchase</a>

<br><br>

<table border="1" cellpadding="10" cellspacing="0" width="80%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Supplier</th>
      <th>Date</th>
      <th>Items</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total Amount</th>
    </tr>
  </thead>

  <tbody>
    {% for p in purchases %}
      {% for item in p.items.all %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.supplier.name }}</td>
        <td>{{ p.date }}</td>

        <!-- Product -->
        <td>{{ item.product.name }}</td>

        <!-- Quantity -->
        <td>{{ item.quantity }}</td>

        <!-- Price -->
        <td>₹ {{ item.price }}</td>

        <!-- Total -->
        <td>₹ {{ p.total_amount }}</td>
      </tr>
      {% endfor %}
    {% empty %}
      <tr>
        <td colspan="7" align="center">No purchases yet</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
