{% extends "base.html" %}
{% block title %}Invoice #{{ invoice.id }}{% endblock %}

{% block content %}

<div class="card shadow-sm p-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Invoice #{{ invoice.id }}</h3>
<a href="{% url 'invoices:invoice_pdf' invoice.id %}"
   class="btn btn-outline-danger btn-sm">
   Download PDF
</a>

  </div>

  <hr>

  <!-- Customer Details -->
  <h5 class="mb-2">Customer Details</h5>
  <p class="mb-1"><strong>Name:</strong> {{ invoice.customer.name }}</p>
  <p class="mb-1"><strong>Date:</strong> {{ invoice.date }}</p>
  <p>
    <strong>Status:</strong>
    {% if invoice.status == "PAID" %}
      <span class="badge bg-success">PAID</span>
    {% elif invoice.status == "PARTIALLY_PAID" %}
      <span class="badge bg-warning text-dark">PARTIALLY PAID</span>
    {% else %}
      <span class="badge bg-danger">UNPAID</span>
    {% endif %}
  </p>

  <hr>

  <!-- Items Table -->
  <table class="table table-bordered mt-3">
    <thead class="table-light">
      <tr>
        <th>S.No</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Unit Price (₹)</th>
        <th>Line Total (₹)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="text-end">₹ {{ subtotal|floatformat:2 }}</td>
        <td class="text-end">₹ {{ total_discount|floatformat:2 }}</td>
        <td class="text-end">₹ {{ total_tax|floatformat:2 }}</td>
        <td class="text-end fw-bold">₹ {{ grand_total|floatformat:2 }}</td>
        <!-- <td class="text-end">₹ {{ paid|floatformat:2 }}</td>
        <td class="text-end fw-bold">₹ {{ balance|floatformat:2 }}</td> -->

      {% empty %}
      <tr>
        <td colspan="5" class="text-center text-muted">
          No items found
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Totals -->
  <div class="row justify-content-end mt-4">
    <div class="col-md-5">
        <table class="table">
  <tr>
    <th>Subtotal</th>
    <td class="text-end">₹ {{ subtotal|floatformat:2 }}</td>
  </tr>
  <tr>
    <th>Total Discount</th>
    <td class="text-end">₹ {{ total_discount|floatformat:2 }}</td>
  </tr>
  <tr>
    <th>Total Tax</th>
    <td class="text-end">₹ {{ total_tax|floatformat:2 }}</td>
  </tr>
  <tr class="table-success fw-bold">
    <th>Grand Total</th>
    <td class="text-end">₹ {{ grand_total|floatformat:2 }}</td>
  </tr>
  <tr>
    <th>Paid</th>
    <td class="text-end">₹ {{ paid|floatformat:2 }}</td>
  </tr>
  <tr class="table-warning fw-bold">
    <th>Balance</th>
    <td class="text-end">₹ {{ balance|floatformat:2 }}</td>
  </tr>

      </table>
    </div>
  </div>

  <a href="{% url 'invoices:invoice_list' %}" class="btn btn-secondary mt-3">
    ← Back to Invoices
  </a>

</div>

{% endblock %}
