{% extends "base.html" %}

{% block title %}Invoices{% endblock %}

{% block content %}

<div class="card p-3">
  <h2 class="mb-3">Invoices</h2>

  <a href="{% url 'invoices:invoice_add' %}" class="btn btn-primary mb-3">
    ➕ Add Invoice
  </a>

  <table class="table table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Total</th>
        <th>Status</th>
        <th style="width:260px">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ invoice.customer.name }}</td>
        <td>₹ {{ invoice.total|floatformat:2 }}</td>
        <td>
          {% if invoice.status == "PAID" %}
            <span class="badge bg-success">PAID</span>
          {% elif invoice.status == "PARTIALLY_PAID" %}
            <span class="badge bg-warning text-dark">PARTIALLY PAID</span>
          {% else %}
            <span class="badge bg-danger">UNPAID</span>
          {% endif %}
        </td>
        <td class="actions">
          <a href="{% url 'invoices:invoice_view' invoice.id %}">View</a>
          |<a href="{% url 'invoices:invoice_list' %}">Invoices</a>

          <a href="{% url 'invoices:invoice_delete' invoice.id %}"
             onclick="return confirm('Delete this invoice?')"
             class="text-danger">
             Delete
          </a>
          |
         <a href="{% url 'payments:payment_add_invoice' invoice.id %}">
    💰 Payment
          </a>


        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center text-muted">
          No invoices found
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
