table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

h2 {
    margin-top: 20px;
}
