{% extends "base.html" %}
{% block title %}Add Supplier{% endblock %}

{% block content %}
<div class="card p-4" style="max-width:600px">
  <h2>Add Supplier</h2>

  <form method="post">
    {% csrf_token %}

    <label>Name</label>
    <input name="name" class="form-control mb-2" required>

    <label>Phone</label>
    <input name="phone" class="form-control mb-2">

    <label>Email</label>
    <input name="email" type="email" class="form-control mb-2">

    <label>Address</label>
    <textarea name="address" class="form-control mb-3"></textarea>

    <button class="btn btn-success">Save</button>
    <a href="{% url 'suppliers:supplier_list' %}" class="btn btn-secondary">
      Cancel
    </a>
  </form>
</div>
{% endblock %}
